# Credit Score

In [1]:
#Importar librerias
import pandas as pd
#pd.options.mode.chained_assignment = None  
import numpy as np
import seaborn as sns

In [2]:
#Cargar datos
df = pd.read_csv('Anonimizada_BasePruebaIngreso.txt', delimiter = '|')

In [3]:
df.head()

   Identificador  periodo  DIAS1  ...  Saldo_Mora6       Saldo5       Saldo6
0    92966525716   201709    7.0  ...          NaN          NaN          NaN
1    92967390638   201709    0.0  ...    294567,62  14044963,84  13929511,94
2    92967489284   201712    0.0  ...        41122   2989794,73   2830734,73
3    92966459151   201809    0.0  ...        32433        32433            0
4    92966529824   201712    0.0  ...          NaN          NaN          NaN

[5 rows x 24 columns]

In [4]:
#Dar formato de Fecha 
df['periodo'] = pd.to_datetime(df['periodo'], format='%Y%m')
df['periodo'] = df['periodo'].dt.date.apply(lambda x: x.strftime('%Y-%m'))

# 1. Limpieza de Datos

Se limpian los datos primero para hacer una mejor descripción

In [5]:
df['Identificador'].count()

30000

In [6]:
df['Identificador'].nunique()

18101

In [7]:
#Eliminación de datos repetidos para ID
df = df.drop_duplicates(subset=['Identificador'],  keep= False)

In [8]:
df = df.set_index('Identificador')

In [9]:
df = df.dropna()

In [10]:
df

               periodo  DIAS1  DIAS2  ...  Saldo_Mora6       Saldo5       Saldo6
Identificador                         ...
92966498191    2017-12    0.0    0.0  ...        23081       844034       827736
92966517622    2017-12    0.0   23.0  ...        75761   1924634,74   1969493,74
92967423542    2017-09    0.0   20.0  ...            0   5592200,83   5528086,17
92966453666    2018-03    0.0    0.0  ...            0  33093899,21   32638153,4
92966441983    2018-06    0.0    0.0  ...            0  31845917,38  31466259,22
...                ...    ...    ...  ...          ...          ...          ...
92966441182    2017-12  104.0  132.0  ...            0            0            0
92966467352    2017-12    0.0    0.0  ...       102942    4913045,5   4712553,96
92967447721    2017-12    0.0    0.0  ...    105174,29  38231271,76  37669349,77
92966467603    2017-09    0.0   13.0  ...        14017       437933       247140
92966442639    2017-09    0.0    0.0  ...            0            0            0

[4566 rows x 23 columns]

In [11]:
#Información de Data Set
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4566 entries, 92966498191 to 92966442639
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   periodo          4566 non-null   object
 1   DIAS1            4566 non-null   float64
 2   DIAS2            4566 non-null   float64
 3   DIAS3            4566 non-null   float64
 4   DIAS4            4566 non-null   float64
 5   DIAS5            4566 non-null   float64
 6   DIAS6            4566 non-null   float64
 7   DIAS0            4566 non-null   int64
 8   Numero_Producto  4566 non-null   int64
 9   GENERO           4566 non-null   object
 10  Saldo_Mora1      4566 non-null   object
 11  Cupo             4566 non-null   object
 12  Saldo_Mora2      4566 non-null   object
 13  Saldo1           4566 non-null   object
 14  Saldo_Mora3      4566 non-null   object
 15  Saldo2           4566 non-null   object
 16  Saldo_Mora4      4566 non-null   object
 17  Saldo3           4566 non-null   object
 18  Saldo_Mora5      4566 non-null   object
 19  Saldo4           4566 non-null   object
 20  Saldo_Mora6      4566 non-null   object
 21  Saldo5           4566 non-null   object
 22  Saldo6           4566 non-null   object
dtypes: float64(6), int64(2), object(15)
memory usage: 856.1+ KB

In [12]:
#Se cambian los tipos de datos para poder hacer el analísis númerico
df['Cupo'] = pd.to_numeric(df['Cupo'], downcast='float', errors = 'coerce')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4566 entries, 92966498191 to 92966442639
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   periodo          4566 non-null   object
 1   DIAS1            4566 non-null   float64
 2   DIAS2            4566 non-null   float64
 3   DIAS3            4566 non-null   float64
 4   DIAS4            4566 non-null   float64
 5   DIAS5            4566 non-null   float64
 6   DIAS6            4566 non-null   float64
 7   DIAS0            4566 non-null   int64
 8   Numero_Producto  4566 non-null   int64
 9   GENERO           4566 non-null   object
 10  Saldo_Mora1      4566 non-null   object
 11  Cupo             1208 non-null   float32
 12  Saldo_Mora2      4566 non-null   object
 13  Saldo1           4566 non-null   object
 14  Saldo_Mora3      4566 non-null   object
 15  Saldo2           4566 non-null   object
 16  Saldo_Mora4      4566 non-null   object
 17  Saldo3           4566 non-null   object
 18  Saldo_Mora5      4566 non-null   object
 19  Saldo4           4566 non-null   object
 20  Saldo_Mora6      4566 non-null   object
 21  Saldo5           4566 non-null   object
 22  Saldo6           4566 non-null   object
dtypes: float32(1), float64(6), int64(2), object(14)
memory usage: 838.3+ KB

In [14]:
#se transforman los datos a númericos eliminanado las filas que tengan problemas de formato
columns = ['Cupo', 'Saldo_Mora1', 'Saldo_Mora2', 'Saldo_Mora3', 'Saldo_Mora4', 
           'Saldo_Mora5', 'Saldo_Mora6', 'Saldo1', 'Saldo2', 'Saldo3', 'Saldo4', 
           'Saldo5', 'Saldo6']
for colum in columns:
    df[colum] = pd.to_numeric(df[colum], downcast='float', errors = 'coerce')

In [15]:
df = df.dropna()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 781 entries, 92966498191 to 92966442639
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   periodo          781 non-null    object
 1   DIAS1            781 non-null    float64
 2   DIAS2            781 non-null    float64
 3   DIAS3            781 non-null    float64
 4   DIAS4            781 non-null    float64
 5   DIAS5            781 non-null    float64
 6   DIAS6            781 non-null    float64
 7   DIAS0            781 non-null    int64
 8   Numero_Producto  781 non-null    int64
 9   GENERO           781 non-null    object
 10  Saldo_Mora1      781 non-null    float32
 11  Cupo             781 non-null    float32
 12  Saldo_Mora2      781 non-null    float32
 13  Saldo1           781 non-null    float32
 14  Saldo_Mora3      781 non-null    float32
 15  Saldo2           781 non-null    float32
 16  Saldo_Mora4      781 non-null    float32
 17  Saldo3           781 non-null    float32
 18  Saldo_Mora5      781 non-null    float32
 19  Saldo4           781 non-null    float32
 20  Saldo_Mora6      781 non-null    float32
 21  Saldo5           781 non-null    float32
 22  Saldo6           781 non-null    float32
dtypes: float32(13), float64(6), int64(2), object(2)
memory usage: 106.8+ KB

In [17]:
len(df)

781

# 2. Análisis Descriptivo

Se hace una breve descrioción de las variables númericas del problema

In [18]:
df.describe().T

                 count          mean           std  ...  50%      75%          max
DIAS1            781.0  4.472471e+00  1.802337e+01  ...  0.0      0.0        118.0
DIAS2            781.0  5.692702e+00  2.324083e+01  ...  0.0      0.0        134.0
DIAS3            781.0  6.955186e+00  2.831457e+01  ...  0.0      0.0        163.0
DIAS4            781.0  8.562100e+00  3.387629e+01  ...  0.0      0.0        195.0
DIAS5            781.0  1.012420e+01  4.033731e+01  ...  0.0      0.0        226.0
DIAS6            781.0  1.134187e+01  4.488852e+01  ...  0.0      0.0        254.0
DIAS0            781.0  4.329065e+00  1.384161e+01  ...  0.0      0.0         86.0
Numero_Producto  781.0  1.204866e+00  5.896778e-01  ...  1.0      1.0          6.0
Saldo_Mora1      781.0  7.817730e+03  7.576074e+04  ...  0.0      0.0    2028684.0
Cupo             781.0  1.542386e+06  1.458442e+07  ...  0.0      0.0  313138080.0
Saldo_Mora2      781.0  8.705292e+03  7.100937e+04  ...  0.0      0.0    1624059.0
Saldo1           781.0  1.474128e+06  1.308412e+07  ...  0.0      0.0  255216432.0
Saldo_Mora3      781.0  8.748557e+03  6.572917e+04  ...  0.0      0.0    1376478.0
Saldo2           781.0  1.502197e+06  1.306256e+07  ...  0.0      2.0  257857344.0
Saldo_Mora4      781.0  1.179107e+04  1.419907e+05  ...  0.0      0.0    3798930.0
Saldo3           781.0  1.446716e+06  1.293999e+07  ...  0.0    789.0  260498256.0
Saldo_Mora5      781.0  1.514731e+04  2.201753e+05  ...  0.0      0.0    6038883.0
Saldo4           781.0  1.513928e+06  1.311333e+07  ...  0.0    270.0  263139152.0
Saldo_Mora6      781.0  1.421021e+04  1.131471e+05  ...  0.0      0.0    2271817.0
Saldo5           781.0  1.476352e+06  1.309289e+07  ...  0.0    472.0  265780064.0
Saldo6           781.0  1.584583e+06  1.318916e+07  ...  0.0  15944.0  268401344.0

[21 rows x 8 columns]

# 3 Construcción de de variables
## Saldo promedio de los ultimos 6 meses

Se construyen 3 varaibles

In [19]:
df['Saldo_Promedio'] = (df['Saldo1'] + df['Saldo2'] + df['Saldo3'] + df['Saldo4'] + df['Saldo5']+ df['Saldo6']) / 6

## Flag género

In [20]:
df['Flag_Genero'] = df.GENERO.eq('F').mul(1)

## Porcentaje promedio de saldo en mora

In [21]:
df['Porc_prom_Saldo_mora'] = (df['Saldo_Mora1'] + df['Saldo_Mora2'] + df['Saldo_Mora3'] + df['Saldo_Mora4']  + df['Saldo_Mora5'] + df['Saldo_Mora6'])/6

# 4. Clientes buenos y malos
Se crean dos etiquetas para los clientes tomando 0 como clientes buenos y 1 como clientes malos

In [22]:
df['Tipo_Cliente_1'] = 0

In [23]:
#Clientes que que luego de los 6 meses hayan alcanzado un máximo de 30 días en mora
for i, cli in enumerate(df['Tipo_Cliente_1']):
  indexx = df['Tipo_Cliente_1'].index[i]
  if df['DIAS6'][indexx] > 30:
    df['Tipo_Cliente_1'][indexx]= 1

df['Tipo_Cliente_1'].value_counts()

0    731
1     50
Name: Tipo_Cliente_1, dtype: int64

In [24]:
#Clientes que que luego de los 6 meses hayan alcanzado un máximo de 90 días en mora.
df['Tipo_Cliente_2'] = 0

for i, cli in enumerate(df['Tipo_Cliente_1']):
  indexx = df['Tipo_Cliente_2'].index[i]
  if df['DIAS6'][indexx] > 90:
    df['Tipo_Cliente_2'][indexx]= 1
df['Tipo_Cliente_2'].value_counts()

0    740
1     41
Name: Tipo_Cliente_2, dtype: int64

# 5. Realice un modelo de regresión logística con las variables construidas en el punto 3 contra una de las variables respuesta del punto anterior.

In [25]:
#Variable categorica
y = df['Tipo_Cliente_1'].values

In [27]:
#Caracterisiticas del problema 
df_X = pd.DataFrame([])
df_X['Flag_Genero'] = df['Flag_Genero']
df_X['Saldo_Promedio'] = df['Saldo_Promedio']
df_X['Porc_prom_Saldo_mora'] = df['Porc_prom_Saldo_mora']
X = df_X.values

In [28]:
#Entranamiento del problema
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [30]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X, y)

# Evaluación del modelo

In [31]:
Çfrom sklearn.metrics import classification_report
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.94      0.94       242
           1       0.12      0.12      0.12        16

    accuracy                           0.89       258
   macro avg       0.53      0.53      0.53       258
weighted avg       0.89      0.89      0.89       258

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[228,  14],
       [ 14,   2]])

# 6. Responda las siguientes preguntas:
• Justifique la elección de la variable respuesta, según su criterio.

Elegí el primer tipo de cliente para tener una primera impresión del comportamiento del problema con un flitro de tipo de cliente no tan exigente, para luego subir el límite.

Las variables del Género la elegí porque queria saber si la capidad de endedamiento tiene una correlación directa con está variable.

El saldo promedio me pareció relevante debido a que, es la varaible que me dice que si tengo o no capidad para pagar.

El saldo en mora proimedio lo elegí debido a que si se tiene saldos en mora pequeños se espera que ese comportamiento siga así ser un buen cliente.



• Calcule la tasa de malos con la variable respuesta elegida (Malos/Total Registros).

In [33]:
np.array(np.unique(y_pred, return_counts=True)).T

array([[  0, 242],
       [  1,  16]])

In [34]:
print('Tasa de malos:', 16/(246+16))

Tasa de malos: 0.061068702290076333


• ¿Qué variables resultaron predictivas en el modelo?

La variable que se puede predicir con mayor facilidad es si un cliente va a ser bueno, ya que se tiene un problema con desbalance de clases, lo que quiere decir que se tiene una muestra pequeña de malos clientes para entrenar el modelo, y este comportamiento tambien es debido a que se puede mejorar las caracteristicas con las cuales se entrena el modelo.